---
title: CMOA Provenance Interactive
---

%script
  = "var collection = #{data.collection.compact.to_json}"

#holder
  #sidebar
    %img#preview-image
    #tombstone
      #acc-num
      #artist
        %span.content
      #title
        %span.content
      #provenance
    #back-button Back to<br>Main Screen
  #map
    

  #interactive
    #image-grid
      - data.collection.each do |work|
        - next unless work && work.downloaded_image
        .grid-image{id: "work_#{work.id}"}
          = image_tag work.downloaded_image,  resize_to: '230x250^', class: 'thumbnail'
      - (22-data.collection.count).times.each do
        .grid-image
  #grid-bottom
    %h1 
      Touch any of the works above<br>
      to learn more about its history.



#image-preloads
  - data.collection.each do |work|
    - next unless work && work.downloaded_image 
    = image_tag work.downloaded_image,  resize_to: '300x', id: "preview_#{work.id}"
